 * {
    margin: 0;
    padding: 0;
 }
 
 /* 컨테이너 */
  #uiux_box{
    /* width:100%; */
    max-width:1320px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
  }

  /* 이미지 - 기본은 숨김, active면 보임 */
  #uiux_box img{
    width:100%;
    height:auto;
    display:none; /* 기본 숨김 */
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.425);
  }
  #uiux_box img.active{
    display:block; /* active인 것만 보임 */
  }

  /* 하단 고정 버튼 */
  #toggleBtn{
    position:fixed;
    bottom:30px;
    right:30px;
    background:#ffffff;
    color:#222;
    border:none;
    padding:12px 20px;
    border-radius:28px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.151);
    cursor:pointer;
    font-size:16px;
    font-family: 'Sweet';
    font-weight: 400;
  }

  /* 반응형 간격 */
  @media (max-width:600px){
    #uiux_box{padding:0 10px}
    #toggleBtn{bottom:18px; right:18px; padding:10px 16px; font-size:14px}
  }

    #toggleBtn:hover {
        background-color: #479352;
        color: #fff;
        font-family: 'Sweet';
        font-weight: 700;
    }

    /* 반응형: 태블릿 */
    @media (max-width: 1024px) {
        #uiux_box {
            padding: 0 15px;
        }
    }

    /* 반응형: 모바일 */
    @media (max-width: 600px) {
        #uiux_box {
            padding: 0 10px;
        }
        #toggleBtn {
            bottom: 20px;
            right: 20px;
            font-size: 14px;
            padding: 10px 16px;
        }
    }



    /* 폰트 */

    @font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}